h2: code make

p
  | CV.js 2014-03-18

p
  a(href='https://groner.github.io/CV.js-make-slides/') groner.github.io/CV.js-make-slides/

p
  a(href='https://github.com/groner/CV.js-make-slides') groner/CV.js-make-slides
