h2 Grunt Limitations

ul
  li.fragment
    | No dependencies, no incremental builds

  li.fragment
    | Missing sources are silently omitted

  //.fragment
  //  | Errors are warnings?

  li.fragment
    | Command line argument parser?


aside.notes(data-markdown).

  - Missing sources not helpful

  - Arguments marshaled with colons
  - Hidden options
