h2 Implicit (aka reusable) rules

pre.fragment(data-fragment-index=0): include /demo/implicit/Makefile

//- Manual escaping to outwit jade which helpfully closes the <index.jade> tag
pre: code.no-highlight.fragment.
  : kai@harissa trivial; make
  jade -P -p index.jade &lt;index.jade >build/index.html || rm build/index.html
  cp -a images build/images

aside.notes(data-markdown).
  - % is the stem (index)
