h2 GNU make

ul

  li.fragment
    | dependencies

  li.fragment
    | incremental builds

  li.fragment
    | concurrent incremental builds

  li.fragment
    | low overhead


aside.notes(data-markdown).

  - Nothing is modified in place
  - When nothing needs to be done, make exits fast
