code.hljs.language-makefile.fragment(data-fragment-index=1).
  BUILDDIR ?= build

  all: $(BUILDDIR)/index.html $(BUILDDIR)/images

code.hljs.language-makefile.
  JADE ?= jade $(JADEFLAGS)
  JADEFLAGS += -P

  # Compile html from jade
  $(BUILDDIR)/%.html: %.jade Makefile
          @mkdir -pv $(@D)
          $(JADE) -p $< <$< >$@ || rm $@

code.hljs.language-makefile.fragment(data-fragment-index=1).
  # Copy images
  .PHONY: $(BUILDDIR)/images
  $(BUILDDIR)/images: images
          @mkdir -pv $(@D)
          cp -a $< $@
