code.hljs.language-makefile.fragment(data-fragment-index=2).
  JADE ?= jade $(JADEFLAGS)
  JADEFLAGS += --pretty

  all: index.html

code.hljs.language-makefile.
  # Compile html from jade
  %.html: %.jade
          $(JADE) -p $< <$< >$@
